@font-face {
    font-family: IranSans;
    src: url('./../public/Assets/fonts/fonts/woff2/IRANSansWeb.woff2') format('woff2'), url('./../public/Assets/fonts/fonts/woff/IRANSansWeb.woff') format('woff'), url('./../public/Assets/fonts/fonts/ttf/IRANSansWeb.ttf') format('ttf');
}

body {
    color: #FFFBFB !important;
    font-family: IranSans !important;
    width: 100%;
    overflow-x: hidden;
    background-color: #020224 !important;
}